<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<h2>Comments</h2>
<%= form_with model: [@article, @comment], local: true do |form| %>
  <div>
    <%= form.label :body, "New Comment" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit "Add Comment" %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <p><%= comment.body %></p>
  </div>
<% end %>

<%= link_to 'Back', articles_path %>
