<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- Add this line to include a Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <%= render 'layouts/menu' %>
        </ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

